h4{
    color: silver;
    background-color: black;
    font-size: 50px;
}
p{
    background-color: red;
    color: bisque;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 30px;
}
thead,tfoot{
    color: red;
    background-color: yellow;
}
td{
    color: aqua;
    background-color: purple;
}
caption{
    color: red;
    font-style: oblique;
}