.container_tr{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-left: 30px; */
    gap: 30px;
    padding-top: 50px;
}
.box_tr{
    background-color: lightgreen;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    transition: transform 2s ease-in 500ms;
    justify-content:space-evenly;
}
.box1:hover{
    transform:translate(125px,325px);
}
.box2:hover{
    transform: translateX(-80px);
}
.box3:hover{
    transform: translateY(-80px);
}
.box4:hover{
    transform: rotate(180deg);
}
.box5:hover{
    transform: skewX(20deg);
}
.box6:hover{
    transform: skewY(30deg);
}
.box7:hover{
    transform: skew(10deg,20deg);
}
.box8:hover{
    transform: scale(1.4);
}
.box9:hover{
    transform: rotate(190deg) scale(1.5) translateX(125px) skewY(20deg);
}